In [305]:
# https://www.youtube.com/watch?v=Aa-F6zqLmig

In [306]:
# pip install xgboost

In [307]:
# Model
from xgboost import XGBRegressor 

import numpy as np 
import pandas as pd 
from sklearn.model_selection import train_test_split
from sklearn.model_selection import RandomizedSearchCV
from sklearn.model_selection import GridSearchCV

# Errors
from sklearn.metrics import mean_squared_error
from sklearn.metrics import explained_variance_score
from sklearn.metrics import mean_absolute_error

In [308]:
def calculate_error(answers,predictions):
    """This function returns the Mean squared error, explained variance score, and the average"""
    print(f"MSE: {mean_squared_error(answers, predictions)}")
    print(f"EVS: {explained_variance_score(answers, predictions)}")
#     print("Test Data")
    print(f"MAE: {mean_absolute_error(answers, predictions)}")

In [309]:
def clean_data(data):
    """This function removes all the unnecessary columns in the data: name, filepath, campus, index. 
    Also splits the data into X and y, with y being the grade, and X being everything else."""
    
    data = data.loc[:, data.columns != "Unnamed: 0"]
    data = data.loc[:, data.columns != "name"]
    data = data.loc[:, data.columns != "filepath"]
    data = data.loc[:, data.columns != "campus"]
    y = data["grade"]
    X = data.loc[:, data.columns != "grade"]
    
    return X,y

In [310]:
train_data = pd.read_csv("data11.csv")
train_data.tail()

,Unnamed: 0,Hold 0,Hold 1,Hold 2,Hold 3,Hold 4,Hold 5,Hold 6,Hold 7,Hold 8,...,Quadrant 10,Quadrant 4,Quadrant 13,Quadrant 0,Quadrant 11,Quadrant 12,Quadrant 2,total_Sloper,Quadrant 14,Hold 310
850,850,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,1.0,2.0,0.0,0.0,0.0,0.0
851,851,0,0,4,0,0,0,0,0,0,...,1.0,0.0,2.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0
852,852,0,0,0,4,0,0,0,0,0,...,0.0,0.0,2.0,3.0,1.0,1.0,0.0,0.0,0.0,0.0
853,853,0,0,0,0,0,0,0,0,4,...,2.0,0.0,1.0,0.0,0.0,1.0,2.0,2.0,1.0,0.0
854,854,0,0,0,0,0,0,0,0,0,...,3.0,0.0,1.0,0.0,0.0,2.0,2.0,0.0,0.0,0.0

In [311]:
X,y = clean_data(train_data)

In [312]:
# Split data
X_train, X_validation, y_train, y_validation = train_test_split(X, y, test_size=0.33, random_state=42)

In [313]:
split_data = pd.read_csv("data9_split.csv")
split_data.tail()

,Unnamed: 0,Hold 0,Hold 1,Hold 2,Hold 3,Hold 4,Hold 5,Hold 6,Hold 7,Hold 8,...,total_Crimp,total_Sidepull,total_Semi-Jug,Quadrant 5,Quadrant 8,Quadrant 11,Quadrant 2,total_Sloper,Quadrant 14,Hold 310
145,145,0,0,0,0,0,0,4,0,0,...,1.0,3.0,7.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0
146,146,0,0,0,0,0,0,0,0,0,...,2.0,0.0,4.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
147,147,0,0,0,0,0,0,0,4,0,...,5.0,2.0,3.0,2.0,2.0,0.0,3.0,1.0,0.0,0.0
148,148,0,0,4,0,0,0,0,0,0,...,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
149,149,0,0,0,0,0,4,0,4,0,...,3.0,1.0,2.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [314]:
split_X, split_y = clean_data(split_data)

In [315]:
split_X.shape

(150, 372)

In [316]:
split_y.shape

(150,)

In [317]:
# params = {'subsample': [0.45,0.50,0.55], 
#           'n_estimators': [750,1000,1500], 
#           'max_depth': [2,3,4], 
#           'learning_rate': [0.005,0.01,0.025], 
#           'colsample_bytree': [0.45,0.5,0.55], 
#           'colsample_bylevel': [0.85,0.9,0.95]}

# xgbr = XGBRegressor(seed = 20)
# clf = GridSearchCV(estimator=xgbr, 
#                    param_grid=params,
#                    scoring='neg_mean_squared_error', 
#                    verbose=1)
# clf.fit(X_train, y_train)
# print("Best parameters:", clf.best_params_)
# print("Lowest RMSE: ", (-clf.best_score_)**(1/2.0))

In [318]:
# params = { 'max_depth': [2,4,6,8],
#            'learning_rate': [0.01, 0.1, 0.2, 0.3],
#            'subsample': np.arange(0.4, 1.0, 0.2),
#            'colsample_bytree': np.arange(0.4, 1.0, 0.2),
#            'colsample_bylevel': np.arange(0.4, 1.0, 0.2),
#            'n_estimators': [50,100,250,500,1000]}
# xgbr = XGBRegressor(seed = 20)
# clf = RandomizedSearchCV(estimator=xgbr,
#                          param_distributions=params,
#                          scoring='neg_mean_squared_error',
# #                          scoring = 'neg_mean_absolute_error',
#                          n_iter=100,
#                          verbose=1)
# clf.fit(X_train, y_train)
# print("Best parameters:", clf.best_params_)
# print("Lowest RMSE: ", (-clf.best_score_)**(1/2.0))

In [319]:
# # New random search 25 (1.28097 RMSE) (72.9% EVS) (1.53 MSE) (1.9770 MSE actual)
# params = {
#     'subsample': [0.8], 
#     'n_estimators': [1000], 
#     'max_depth': [6], 
#     'learning_rate': [0.01], 
#     'colsample_bytree': [0.6], 
#     'colsample_bylevel': [0.4]
# }

# New random search 100 (1.29031 RMSE) (72.5% EVS) (1.49 MSE)
# params = {
#     'subsample': [0.6],
#      'n_estimators': [200],
#      'max_depth': [5],
#      'learning_rate': [0.1],
#      'colsample_bytree': [0.8],
#      'colsample_bylevel': [0.4]
# }

# .98 MAE

# # Adjusted Random search (73.6% EVS) (1.55 MSE)
# params = {
#     'subsample': [0.6],
#      'n_estimators': [200],
#      'max_depth': [5],
#      'learning_rate': [0.1],
#      'colsample_bytree': [0.8],
#      'colsample_bylevel': [0.4]
# }
 
# # Reduce overfit V1
# params = {
#     'subsample': [0.8],
#      'n_estimators': [10],
#      'max_depth': [2],
#      'learning_rate': [0.3],
#      'colsample_bytree': [0.4],
#      'colsample_bylevel': [0.8]
# }

# # Reduce overfit V2
# params = {
#     'subsample': [0.6],
#      'n_estimators': [10],
#      'max_depth': [3],
#      'learning_rate': [0.3],
#      'colsample_bytree': [0.4],
#      'colsample_bylevel': [0.8]
# }

# # Reduce overfit V2
# params = {
#     'subsample': [0.8],
#      'n_estimators': [10],
#      'max_depth': [2],
#      'learning_rate': [0.4],
#      'colsample_bytree': [0.8],
#      'colsample_bylevel': [0.2]
# }

# params = {
#     'subsample': [0.8],
#      'n_estimators': [10],
#      'max_depth': [2],
#      'learning_rate': [0.4],
#      'colsample_bytree': [0.8],
#      'colsample_bylevel': [0.2]
# }


# # Random Search 25 iter
params = {'subsample': [0.5], 
          'n_estimators': [1000], 
          'max_depth': [3], 
          'learning_rate': [0.01], 
          'colsample_bytree': [0.5], 
          'colsample_bylevel': [0.9]}

# # random Search 100 iter
# params = {'subsample': [0.5], 
#           'n_estimators': [1000], 
#           'max_depth': [3], 
#           'learning_rate': [0.01], 
#           'colsample_bytree': [0.5], 
#           'colsample_bylevel': [0.7]}

# # Specific Grid Search
# params = {'colsample_bylevel': [0.95], 
#           'colsample_bytree': [0.55], 
#           'learning_rate': [0.01], 
#           'max_depth': [2], 
#           'n_estimators': [1000], 
#           'subsample': [0.45]}

In [333]:
xgbr = XGBRegressor(seed = 20)
model = xgbr
# model = RandomizedSearchCV(estimator=xgbr,
#                          param_distributions=params,
#                          scoring='neg_mean_squared_error',
# #                         scoring='neg_mean_absolute_error',
#                          n_iter=1,
#                          verbose=1)

In [334]:
model.fit(X_train,y_train)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, enable_categorical=False,
             gamma=0, gpu_id=-1, importance_type=None,
             interaction_constraints='', learning_rate=0.300000012,
             max_delta_step=0, max_depth=6, min_child_weight=1, missing=nan,
             monotone_constraints='()', n_estimators=100, n_jobs=12,
             num_parallel_tree=1, predictor='auto', random_state=20,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=20,
             subsample=1, tree_method='exact', validate_parameters=1,
             verbosity=None)

In [335]:
calculate_error(y_train.values,model.predict(X_train))

MSE: 0.0028235004868544075
EVS: 0.9994329766067042
MAE: 0.03780070478031477

In [336]:
calculate_error(y_validation.values,model.predict(X_validation))

MSE: 1.8678805941253231
EVS: 0.6698596218030134
MAE: 1.0731836382707731

In [337]:
calculate_error(split_y.values,model.predict(split_X))

MSE: 2.5735013544951584
EVS: 0.5418474738837443
MAE: 1.2480402543147404

In [325]:
# Best parameters: {'subsample': 0.6000000000000001, 'n_estimators': 250, 'max_depth': 4, 'learning_rate': 0.1, 'colsample_bytree': 0.6000000000000001, 'colsample_bylevel': 0.4}

In [326]:
# errors = model.predict(X_validation)-y_validation.values

In [327]:
# temp_df = X_validation.copy()

In [328]:
# all_data = pd.read_csv("data5.csv")

In [329]:
# temp_df['prediction'] = model.predict(X_validation)
# temp_df['error'] = errors
# temp_df = temp_df.join(all_data['filepath'])

In [330]:
# def make_clickable(val):
#     # target _blank to open new window
#     return '<a target="_blank" href="{}">{}</a>'.format(val, val)

In [331]:
# temp_df.sort_values('error').style.format({'filepath': make_clickable})

In [332]:
# data = pd.DataFrame(columns=[f"Hold {item}" for item in range(0, 310)])